.headerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(216, 126, 171);
}

.headerList li {
    float: left;
}

.headerList li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.headerList li a:hover {
    background-color: rgb(117, 176, 184);
}

.bloodDonorList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bloodDonorList li {
    width: 85%;
    padding: 4vh;
}

.centeredDiv  {
    width: 70%;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #a077c2;
    border-radius: 15px;
    color: white;
}

.donorContainer {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.donorContainerLeft {
    flex:1;
}

.donorContainerRight {
    text-align: center;
    padding-top: 20px;
}

.donorContainerRight FontAwesomeIcon {
    cursor: pointer;
}

.bloodGroupLabel {
    color: red;
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #a077c2;
}

h2 {
    text-align: center;
    color: #eb9d5d;
    padding: 20px;
}

label {
    color: #08ffd1;
    font-size: 17px;
}

.inputField {
    width: 100%;
    height: 30px;
    border: none;
    padding-left: 8px;
}

#log {
    width: 160px;
    height: 30px;
    border: none;
    align-items: center;
    padding-left: 7px;
    font-size: 13px;
    color: rgb(62, 93, 11);
}
